impact.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="urn:Test.Namespace" 
           xmlns="urn:Test.Namespace">
  
  <!-- Define complex elements -->

  <!-- Define a range of integers (i.e., 0-100) -->
  <xs:complexType name="integerRange">
    <xs:attribute name="minValue" type="xs:int"/>
    <xs:attribute name="minValueUncertainty" type="xs:int"/>
      <xs:attribute name="maxValue" type="xs:int"/>
      <xs:attribute name="maxValueUncertainty" type="xs:int"/>
  </xs:complexType>
  
  <!-- Define a floating point number (3.14) -->
  <xs:complexType name="realQuantity">
    <xs:attribute name="value" type="xs:float"/>
    <xs:attribute name="uncertainty" type="xs:float"/>
    <xs:attribute name="confidenceLevel" type="xs:float"/>
    <xs:attribute name="quantityFlag">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="lessThan"/>
          <xs:enumeration value="moreThan"/>
          <xs:enumeration value="exact"/>
          <xs:enumeration value="approximate"/>
          <xs:enumeration value="unconfirmed"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  
  <!-- Define an integer number (3) -->
  <xs:complexType name="integerQuantity">
    <xs:attribute name="value" type="xs:int"/>
    <xs:attribute name="uncertainty" type="xs:int"/>
    <xs:attribute name="confidenceLevel" type="xs:float"/>
    <xs:attribute name="quantityFlag">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="lessThan"/>
          <xs:enumeration value="moreThan"/>
          <xs:enumeration value="exact"/>
          <xs:enumeration value="approximate"/>
          <xs:enumeration value="unconfirmed"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  
  <!-- We're going to use this creationInfo a couple of times, so define it once -->
  <xs:complexType name="creationInfo">
    <xs:attribute name="agencyID"
                  type="xs:string" use="required"/>
    <xs:attribute name="author"
                    type="xs:string" use="required"/>
    <xs:attribute name="version"
                  type="xs:string" use="required"/>
    <xs:attribute name="creationTime" type="xs:dateTime"/>
  </xs:complexType>
  
  <!-- Start the definition of our quakeml extension -->
  <xs:element name="quakeml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="eventParameters">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="event">
                <xs:complexType>
                  <xs:sequence>

                    <!-- Origin Element -->
                    <!-- There should be one and only one of these -->
                    <xs:element name="origin">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="latitude" type="realQuantity"/>
                          <xs:element name="longitude" type="realQuantity"/>
                          <xs:element name="depth" type="realQuantity"/>
                        </xs:sequence>
                        <xs:attribute name="publicID"/>
                      </xs:complexType>
                    </xs:element>
                    <!-- End of Origin Element -->
                    
                    <!-- eventDescription Element -->
                    <!-- There can be at most one of these -->
                    <xs:element name="eventDescription">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="comment" type="xs:string"/>
                          <xs:element name="source" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <!-- End of eventDescription Element -->
                    
                    <!-- Effect Element -->
                    <!-- There can be none to many of these -->
                    <!-- These are all boolean (happened or did not happen) -->
                    <!-- effects. -->
                    <xs:element name="effect">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="comment" type="xs:string"/>
                          <xs:element name="source" type="xs:string"/>
                          <xs:element name="location" type="xs:string"/>
                        </xs:sequence>
                        <xs:attribute name="effectFlag">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Tsunami"/>
                              <xs:enumeration value="Seiche"/>
                              <xs:enumeration value="SandBlow"/>
                              <xs:enumeration value="Uplift"/>
                              <xs:enumeration value="Subsidence"/>
                              <xs:enumeration value="GroundCracking"/>
                              <xs:enumeration value="Liquefaction"/>
                              <!-- How do I add an optional number to "Felt" for distance? -->
                              <xs:enumeration value="Felt"/> 
                              <xs:enumeration value="Landslide"/>
                              <xs:enumeration value="Fire"/>
                              <xs:enumeration value="Explosion"/>
                              <xs:enumeration value="MineCollapse"/>
                              <xs:enumeration value="VolcanicActivity"/>
                              <xs:enumeration value="GeyserActivity"/>
                              <xs:enumeration value="Sounds"/>
                              <xs:enumeration value="Other"/>
                            </xs:restriction>
                          </xs:simpleType>
                          <!-- Faulting number length km, number V
                               Offect m, H Offset m (??) -->
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <!-- End of Effect Element -->

                    <!-- Loss Element -->
                    <!-- There can be none to many of these -->
                    <!-- These are impacts that cause economic, human, or animal loss -->
                    <xs:element name="loss">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="creationInfo" type="creationInfo"/>
                          <xs:element name="quantity" type="integerQuantity"/>
                          <xs:element name="quantityRange" type="integerRange"/>
                        </xs:sequence>
                        <xs:attribute name="cause">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="BuildingsDamaged"/>
                              <xs:enumeration value="BuildingsDestroyed"/>
                              <xs:enumeration value="BuildingsDamagedOrDestroyed"/>
                              <xs:enumeration value="BuildingsCollapsed"/>
                              <xs:enumeration value="Electricity"/>
                              <xs:enumeration value="Water"/>
                              <xs:enumeration value="Telecommunications"/>
                              <xs:enumeration value="Roads"/>
                              <xs:enumeration value="Bridges"/>
                              <xs:enumeration value="Railroads"/>
                              <xs:enumeration value="Livestock"/>
                              <xs:enumeration value="DollarLoss"/>
                              <xs:enumeration value="DisplacedPersons"/> 
                              <xs:enumeration value="Missing"/>
                              <xs:enumeration value="Injured"/>
                              <xs:enumeration value="TotalDeaths"/>
                              <xs:enumeration value="ShakingDeaths"/>
                              <xs:enumeration value="TsunamiDeaths"/>
                              <xs:enumeration value="FireDeaths"/>
                              <xs:enumeration value="UndifferentiatedDeaths"/>
                              <xs:enumeration value="LandslideDeaths"/>
                              <xs:enumeration value="Other"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="quantityText" type="xs:string"/>
                        <xs:attribute name="quantityUnits" type="xs:string"/>
                        <xs:attribute name="comment" type="xs:string"/>
                        <xs:attribute name="source" type="xs:string"/>
                        <xs:attribute name="isInDefaultComment" type="xs:boolean"/>
                        <xs:attribute name="location" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                    <!-- End of Loss Element -->
                    
                    <!-- Attachment Element -->
                    <!-- There can be none to many of these -->
                    <xs:element name="attachment">
                      <xs:complexType>
                        <xs:element name="creationInfo" ref="creationInfo"/>
                        <xs:attribute name="URI" type="xs:string" use="required"/>
                        <xs:attribute name="comment" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <!-- End of Attachment Element -->

                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
